h1 {
    margin-top: 2rem;
    text-align: center;
}

.blocks-content {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blocks-canvas {
    border: var(--border-4px);
    height: 500px;
    width: 500px;
}

.blocks-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.blocks-controls button {
    border: 2px solid black;
    /* font-size: 1.2rem; */
    width: 2rem;
    height: 2rem;
}

button i {
    font-size: 1.2rem;
    margin: auto;
}

button img {
    display: block;
    width: 100%;
    height: auto;
}