.stuff-content {
    border: 4px solid black;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.stuff-canvas {
    border: var(--border-4px);
    height: 300px;
    width: 300px;
}

.stuff-canvas canvas {}



/* .voronoi-count input {
    border: var(--border-2px);
    color: red;
    margin-top: auto;
    margin-bottom: 2rem;
} */

/* .stuff-canvas {
    border: var(--border-4px);
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stuff-canvas canvas {
    border: var(--border-2px);
    margin: 1rem;
    height: 100%;
    width: 100%;
} */

/* .voronoi-count input {
    border: var(--border-2px);
    color: red;
    margin-top: auto;
    margin-bottom: 2rem;
}

#voronoi {
    border: 2px solid red;
} */