/* Defaults */
:root {
    --active-color: #00aa22;
    --font-color: black;
    --border-2px: 2px solid black;
    --border-4px: 4px solid black;
    --border-8px: 8px solid black;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 100%;
    font-family: monospace;
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

button {
    border: none;
    background: none;
}

a:hover,
button:hover {
    color: var(--active-color);
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Page */
nav {
    /* border: var(--border-4px); */
    height: 3rem;
    padding: 0.4rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.nav-home {
    margin-left: 2rem;
    margin-right: auto;
}

.nav-menu {
    margin-right: 2rem;
}

.app {
    border: var(--border-4px);
    /* margin: 1rem; */
    height: 45rem;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.app-header {
    text-align: center;
}

.app-content {
    /* border: var(--border-2px); */
    /* margin: 1rem; */
    /* display: grid;
    grid-template-rows: repeat(2, 10rem);
    grid-template-columns: repeat(2, 10rem);
    justify-content: center;
    align-items: stretch; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-canvas {
    border: var(--border-4px);
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(2, 10rem);
    grid-template-columns: repeat(2, 10rem);
}

.home-canvas-1 {
    /* border: 4px solid red; */
    grid-row: 1;
    grid-column: 1;
}

.home-canvas-1 canvas {
    border: 4px solid red;
}

.home-canvas-2 {
    /* border: 2px solid blue; */
    grid-row: 1;
    grid-column: 2;
}

.home-canvas-2 canvas {
    border: 4px solid blue;
}

.home-canvas-3 {
    /* border: 2px solid green; */
    grid-row: 2;
    grid-column: 1;
}

.home-canvas-3 canvas {
    border: 4px solid green;
}

.home-canvas-4 {
    /* border: 2px solid orange; */
    grid-row: 2;
    grid-column: 2;
}

.home-canvas-4 canvas {
    border: 4px solid orange;
}




.test-canvas {
    border: 4px solid black;
    margin: auto;
    width: fit-content;
}

.test-canvas canvas {
    border: 4px solid blue;
}




.math-canvas {
    border: var(--border-4px);
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.math-canvas canvas {
    border: var(--border-2px);
    margin: 1rem;
    height: 100%;
    width: 100%;
}

.voronoi-count input {
    border: var(--border-2px);
    color: red;
    margin-top: auto;
    margin-bottom: 2rem;
    /* position: relative; */
}

#voronoi {
    border: 2px solid red;
}

@media (max-width: 575px) {
    /* Styles for small screens */
}

@media (min-width: 576px) and (max-width: 767px) {
    /* Styles for medium screens */
}

@media (min-width: 768px) and (max-width: 1199px) {
    /* Styles for large screens */
}

/* 
.graph {
    border: 4px solid black;
    height: 40rem;
    width: 60rem;
} */

/* 
.svg-container {
    width: 100%;
    height: 100%;
}

.vector-graph-svg {
    height: 100%;
    width: 100%;
}

.controls {
    border: 4px solid black;
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.control {
    display: flex;
}

.control label {
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-right:
}

.control input {
    font-size: 1.6rem;
    text-align: end;
}

.control input[type="range"] {
    width: 20rem;
    cursor: pointer;
    margin-right: 1rem;
} */

/* MAP COLORS */
/* .draggable {
    cursor: move;
}

.svg-canvas {
    border: 4px solid black;
    padding: 1em;
    width: 1200px;
    height: 800px;
}

#canvas {
    border: 4px solid green;
} */