html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  border: 2px solid black;
  margin: auto;
  margin-top: 0rem;
}

.math-graphs {
  border: 4px solid black;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}