.voronoi-content {
    /* border: 4px solid black; */
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.voronoi-canvas {
    border: var(--border-4px);
    height: 500px;
    width: 500px;
    position: relative;
}

.voronoi-controls {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.4rem;
}

.voronoi-controls button {
    border: 2px solid black;
}

.node-slider {
    /* border: 4px solid red; */
    width: 100%;
    /* left: 10px; */
    /* bottom: 10px; */
}

input {

    border: 4px solid black;
}